<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>

Dealer's Cards:

<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<%= session[:player_name] %>'s Cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>
  <%= session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>
</p>

<p>
  What would you like to do?
  </br>
  <a href='/hit' method='post'>hit</a>
  <a href='/stay' method='post'>stay</a>
</p>