<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>

Dealer's Cards:

<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<%= session[:player_name] %>'s Cards:
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<%= session[:player_name] %>'s total is <%=calculate_total(session[:player_cards]) %>

<% if @show_buttons %>
  <p>
    What would you like to do?
    </br>
    <form action="/game/player/hit" method='post'>
      <input type="submit" class="btn" value="Hit">
    </form>
    
    <form action="/game/player/stay" method='post'>
      <input type="submit" class="btn" value="Stay">
    </form>
  </p>
<% end %>