<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>

<% if @show_play_again %>
  <% if session[:player_pot].to_i > 0 %>
    <p> <strong>Play again?</strong>
      <a href="/bet" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn btn-default">No</a>
    </p>
  <% else %>
    <p>You're out of money. Would you like to start a new game?
    <a href='/new_player' class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn btn-default">No</a>
    </p>
  <% end %>
<% end %>


<div class="well">
  <h4>Dealer's Cards:</h4>
    <% session[:dealer_cards].each do |card| %>
      <% if @hide_first_card%>
          <img src= '/images/cards/cover.jpg' class='card_image'>
          <% @hide_first_card = false %>
      <% else %>
          <%= card_image(card) %>
      <% end %>
    <% end %> 

    <% if @show_dealer_hit_button %>
      <p> Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit
      <form action="/game/dealer/hit" method='post'>
        <input type ="submit" class='btn btn-primary' value="Click here to hit">
      </form>
      </p>
    <% end %>
</div>

<div class="well">
  <h4><%= session[:player_name] %>'s Cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
  <h5><%= session[:player_name] %> has $<%= session[:player_pot] %> and has bet $<%= session[:player_bet] %></h5>
</div>
<%= session[:player_name] %>'s total is <%=calculate_total(session[:player_cards]) %>

<% if @show_buttons %>
  <p>
    What would <%= session[:player_name] %> you like to do?
    </br>
    <form id="hit_form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-success" value="Hit">
    </form>
    
    <form id="stay_form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-warning" value="Stay">
    </form>
  </p>
<% else %>
  <p>
  The Dealer's total is <%=calculate_total(session[:dealer_cards]) %>
  </p>
<% end %>