<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>


<div class="well">
  <h4>Dealer's Cards:</h4>
    <% count = 0 %>
    <% session[:dealer_cards].each do |card| %>
      <% if count == 0 %>
          <img src= '/images/cards/cover.jpg' class='card_image'>
          <% count += 1 %>
      <% else %>
          <%= card_image(card) %>
          <% count += 1 %>
      <% end %>
    <% end %>
</div>

<div class="well">
  <h4><%= session[:player_name] %>'s Cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<%= session[:player_name] %>'s total is <%=calculate_total(session[:player_cards]) %>

<% if @show_buttons %>
  <p>
    What would <%= session[:player_name] %> you like to do?
    </br>
    <form id="hit_form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-success" value="Hit">
    </form>
    
    <form id="stay_form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-warning" value="Stay">
    </form>
  </p>
<% else %>
  <p>
  The Dealer's total is <%=calculate_total(session[:dealer_cards]) %>
  </p>
<% end %>